wxpython
pywin32
markdown
vk_api
bs4
configobj
pypubsub==3.3.0
requests-oauthlib
future
arrow
yandex.translate
# forked repositories previously found at http://q-continuum.net
git+https://code.manuelcortez.net/manuelcortez/libloader
git+https://code.manuelcortez.net/manuelcortez/platform_utils
git+https://github.com/chrisnorman7/sound_lib
git+https://code.manuelcortez.net/manuelcortez/accessible_output2